.pricingPage {
  background-image: url(https://res.cloudinary.com/dm3wjnhkv/image/upload/v1725835915/assets/bg-for-navbar_mendp2.webp);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  object-fit: cover;
}

@media screen and (max-width: 899px)  {
  .pricingPage {
    background-size: 100% 150px;
  }
}

@media screen and (max-width: 600px)  {
  .pricingPage {
    background-size: 100% 100px;
  }
}