.floatButton {
  position: fixed;
  bottom: 30px;
  left: 55%;
  transform: translateX(-55%);
  z-index: 10;
  cursor: pointer;
}

.btnMain {
  cursor: pointer;
}

.loadImageMain {
  position: relative;
}

.BgloadImage {
  width: 160px;
  height: 160px;
  animation: rotation 7s infinite linear;
}

.BgLoad {
  width: 160px;
  height: 160px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadImage {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 104px;
  height: 104px;
  z-index: 4;
}
