.floatButton {
  position: fixed;
  bottom: 30px;
  left: 55%;
  transform: translateX(-55%);
  z-index: 1000;
  cursor: pointer;

}

.btnMain {
  cursor: pointer;
}

.loadImageMain{
  position: relative;
}

.BgloadImage{
  width: 160px;
  animation: rotation 7s infinite linear;
}

.BgLoad{
  width: 160px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loadImage {
  position: absolute;
  top: 57px;
  left: 28px;
  width: 104px;
  z-index: 4;
}