/* Experience  */

.summary {
  font-size: 32px;
  cursor: pointer;
}

.close {
  color: #000;
  opacity: 0.2;
}

.open {
  color: #3e4f3c;
}

.gif {
  width: 613px;
  height: auto;
}

.bandage {
  position: absolute;
  right: -50px;
  top: -50px;
}

/* ContactFooter  */
.contactFooterBox {
  /* background-image: url(../__webAssets/pngs/bg-footer.png); */
  background-image: url(https://lifescript-media.s3.eu-north-1.amazonaws.com/bg-footer.png);
  background-size: 100% 120%;
}


/* Pricing Cards  */
.midCard {
  background-color: #f4f4f4;
  color: #30422e;
  transition: all 0.3s ease;
}

.sideCard {
  background-color: #30422e;
  color: #f4f4f4;
  transition: all 0.3s ease;
}

/* Introduction  */

.features {
  background-image: url(../__webAssets/pngs/bg-feature.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lineBox {
  position: relative;
}

.line {
  position: absolute;
  right: -20px;
  bottom: -10px;
  height: auto; 
}

/* Got Questions  */
.gotQsBg {
  background-image: url(../__webAssets/pngs/bg-gift-tag.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Working  */
.workingBox {
  /* background-image: url(../__webAssets/pngs/bg-top-bottom.png); */
  background-image: url(https://lifescript-media.s3.eu-north-1.amazonaws.com/bg-top-bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.check {
  width: 40px;
  height: 40px;
}

.fullStyle {
  max-width: 1140px;
  width: 100%;
  height: auto;
}

.seeMorebtn:hover{
background-color: #a5a19737 !important;
}

/* Got Questions  */
.questionIcon{
  width: 44px;
  height: 44px;
 }

 /* Primary Heading  */
 .headingLine{
  position: absolute;
  bottom: -10px;
  right: -20px;
}

.pureHeadings{
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  display: inherit;
}

.points{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='white' stroke-width='1' stroke-dasharray='7%2c7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* Footer  */
.hoverLinks{
  color: #fff;
}

.hoverLinks:hover{
  color: #E1683B;
}


@media screen and  (max-width: 1200px) and (min-width:899px) {
  .gif {
    width: 450px;
  }
  
  .questionIcon{
    width: 40px;
    height: 40px;
   }

   .fullStyle {
    max-width: 900px;
    width: 100%;
  }
  
}
@media screen and  (max-width: 899px) {
/* Working  */
.workingBox {
  background-size: 200vw 100%;
}

.headingLine{
  width: 100px !important;
}

.headingStyles{
  width: 130px;
  height: auto;
}

/* Feature Intro  */
.line {
 width: 100px;
}

.questionIcon{
  width: 30px;
  height: 30px;
 }

 /* Working  */
.workingBox {
  background-size: 200% 100%;
}

/* Contact Footer  */
.footerLine{
  width: 150px;
}

}

@media screen and  (max-width: 600px) {
  /* Working  */
  .workingBox {
    background-size: 250vw 100%;
  }
  
  .headingLine{
    width: 70px !important;
  }
  
  .headingStyles{
    width: 78px;
    height: 27px;
  }

  /* ContactFooter  */
  .contactFooterBox {
    background-size:cover;
    background-repeat: no-repeat;
  }

  .footerLine{
  width: 80px;
  }

  /* Feature Intro  */
  .line {
    width: 80px;
    right: -10px;
  }

   /* Working  */
  .workingBox {
    background-size: 250% 100%;
  }
    

  /* Got Questions  */
  .gotQsBg {
    background-size: 220px 115px;
    }

  /* Primary Heading  */

 .headingLine{
  bottom: -10px;
  right: -10px;
}
  }