/* Experience  */

.summary {
  font-size: 32px;
  cursor: pointer;
}

.close {
  color: #000;
  opacity: 0.2;
}

.open {
  color: #3e4f3c;
}

.gif {
  width: 613px;
  height: auto;
}

.bandage {
  position: absolute;
  right: -50px;
  top: -50px;
}

/* ContactFooter  */
.contactFooterBox {
  background-image: url(https://lifescript-media.s3.eu-north-1.amazonaws.com/bg-footer.png);
  background-size: 100% 120%;
}

/* Pricing Cards  */
.midCard {
  background-color: #f4f4f4;
  color: #30422e;
  transition: all 0.3s ease;
}

.sideCard {
  background-color: #30422e;
  color: #f4f4f4;
  transition: all 0.3s ease;
}

/* Introduction  */

.features {
  background-image: url(../__webAssets/pngs/bg-feature.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lineBox {
  position: relative;
}

.line {
  position: absolute;
  right: -20px;
  bottom: -10px;
  height: auto;
}

/* Got Questions  */
.gotQsBg {
  background-image: url(../__webAssets/pngs/bg-gift-tag.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Working  */
.workingBox {
  background-image: url(https://lifescript-media.s3.eu-north-1.amazonaws.com/bg-top-bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.check {
  width: 40px;
  height: 40px;
}

.fullStyle {
  max-width: 1140px;
  width: 100%;
  height: auto;
}

.seeMorebtn:hover {
  background-color: #a5a19737 !important;
}

/* Got Questions  */
.questionIcon {
  width: 44px;
  height: 44px;
}

/* Primary Heading  */
.headingLine {
  position: absolute;
  bottom: -10px;
  right: -20px;
}

.pureHeadings {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  display: inherit;
}

.points {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='white' stroke-width='1' stroke-dasharray='7%2c7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* Footer  */
.hoverLinks {
  color: #fff;
}

.hoverLinks:hover {
  color: #e1683b;
}

/* Suggestion  */

.suggestionImg {
  width: 550px;
  height: 680px;
}

.fullStyleS {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 910px;
  height: auto;
}

/* Textimonial  */
.clientImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.bestIcons {
  width: 80px;
  height: max-content;
}

/* Our Books  */
.bookBox {
  background-image: url(../__webAssets/pngs/bg-books.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.book {
  width: 420px;
  height: 580px;
}

/* GifTab  */
.gifTabBox {
  background-image: url(../__webAssets/pngs/gifi-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bgHurt {
  position: absolute;
  right: 150px;
  bottom: 10px;
}

.bandageX {
  display: none;
}

/* StoryTelling  */
.stroyImages {
  width: 475px;
  height: 300px;
  position: relative;
  z-index: 100;
}

.index {
  z-index: 10 !important;
}

.storyBg {
  position: absolute;
  top: 247px;
  width: 100vw;
  z-index: 10;
}

.marked {
  position: relative;
}

.suggestionUnderLine {
  position: absolute;
  width: 150px;
  right: -40px;
  bottom: -5px;
  height: auto;
}

@media screen and (min-width: 1600px) {

  .book {
    width: 550px;
    height: 800px;
  }

  .storyBg {
    width: initial;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* Suggestion  */
  .suggestionImg {
    width: 480px;
    height: 590px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 899px) {
  .gif {
    width: 450px;
  }

  .questionIcon {
    width: 40px;
    height: 40px;
  }

  .fullStyle {
    max-width: 900px;
    width: 100%;
  }

  .bestIcons {
    width: 50px;
    height: max-content;
  }

  /* Suggestion  */
  .suggestionImg {
    width: 400px;
    height: 500px;
  }

  .fullStyleS {
    max-width: 880px;
  }

  /* Books  */
  .book {
    width: 310px;
    height: 450px;
  }

  /* GifTab  */

  .gifTabBox {
    background-size: 100% 200px;
  }

  .bgHurt {
    height: 120px;
    width: 200px;
    right: 120px;
  }
    /* StoryTelling  */
    .stroyImages {
      width: 400px;
      height: 260px;
    }
  
    .storyBg {
      display: none;
    }
}

@media screen and (max-width: 899px) {
  .gif {
    width: 100% !important;
    margin: 40px 0;
  }

  .bandage {
    right: -50px;
    top: 0px;
  }

  /* Working  */
  .workingBox {
    background-size: 200vw 100%;
  }

  .headingLine {
    bottom: -10px !important;
    width: 100px !important;
  }

  .headingStyles {
    width: 130px;
    height: auto;
  }

  /* Feature Intro  */
  .line {
    width: 100px;
  }

  .questionIcon {
    width: 30px;
    height: 30px;
  }

  /* Working  */
  .workingBox {
    background-size: 200% 100%;
  }

  /* Contact Footer  */
  .footerLine {
    width: 150px;
  }

  .bestIcons {
    width: 60px;
    height: max-content;
  }

  /* Suggestion  */
  .suggestionImg {
    width: 400px;
    height: 500px;
  }

  .fullStyleS {
    bottom: -60px;
    max-width: 95%;
  }

  .pointsLine {
    display: none;
  }

  /* Books  */
  .book {
    width: 240px;
    height: 340px;
  }

    /* GifTab  */

    .gifTabBox {
      background-size: 100% 150px;
    }
  
    .bgHurt {
      height: 80px;
      width: 160px;
      right: 120px;
      bottom: 26px;
    }

      /* storyTelling  */
  .storyBg {
    display: none;
  }

  .suggestionUnderLine {
    width: 100px;
    right: -20px;
  }
  
}

@media screen and (max-width: 600px) {
  .bandage {
    right: -40px;
    top: 10px;
    width: 100px;
    height: 100px;
  }

  /* Working  */
  .workingBox {
    background-size: 250vw 100%;
  }

  .headingLine {
    width: 70px !important;
  }

  .headingStyles {
    width: 78px;
    height: 27px;
  }

  /* ContactFooter  */
  .contactFooterBox {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footerLine {
    width: 80px;
  }

  /* Feature Intro  */
  .line {
    width: 80px;
    right: -10px;
  }

  /* Working  */
  .workingBox {
    background-size: 250% 100%;
  }

  /* Got Questions  */
  .gotQsBg {
    background-size: 220px 115px;
  }

  /* Primary Heading  */

  .headingLine {
    bottom: -10px;
    right: -10px;
  }

  /* Suggestion  */
  .suggestionImg {
    width: 100%;
    height: 100%;
  }

  .fullStyleS {
    bottom: -30px;
    max-width: 100%;
    height: 30px;
    padding: 0 7%;
  }

  /* Textimonial  */
  .clientImg {
    width: 70px;
    height: 70px;
  }

  /* Our Books  */
  .book {
    width: 200px;
    height: 270px;
  }

/* GifTab  */
  .gifTabBox {
    background-image: none;
    background-color: #fff;
  }

  .bgHurt {
    height: 110px;
    width: 215px;
    right: 0;
    bottom: 0;
  }

  .bandageX {
    display: block;
    position: absolute;
    top: -55px;
    left: -60px;
    transform: rotate(95deg);
  }

    /* StoryTelling  */
    .stroyImages {
      width: 100%;
      height: auto;
    }
  
    .suggestionUnderLine {
      width: 60px;
      right: -10px;
    }
}
