.container {
  border-radius: 3px;
  width: 100%; /* default value */
}

@media (min-width: 600px) {
  .container {
    width: 500px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 400px;
    margin-right: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 445px;
  }
}

.container {
  height: auto;
  background-color: #c5c4ae;
  float: right;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.detailsContainer {
  margin-left: 20px;
  margin-top: 20px;
}

.planTitle {
  color: #30422e;
  font-size: 30px;
  font-weight: 700;
}

.featureList {
  margin-top: 30px;
}

.featureItem {
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin-bottom: 24px;
}

.featureText {
  font-size: 15px;
  font-family: Avenir, sans-serif;
}

.extraInfoContainer {
  width: 100%; /* default value */
  height: auto;
}

@media (min-width: 960px) {
  .extraInfoContainer {
    width: 350px;
  }
}

@media (min-width: 1280px) {
  .extraInfoContainer {
    width: 380px;
  }
}

.extraInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extraInfoTitle {
  font-size: 24px;
  font-weight: 600;
}

.editIcon {
  color: #293624;
}

.divider {
  margin-top: 5px;
  margin-bottom: 15px;
}

.infoItem {
  margin-top: 5px;
  margin-bottom: 10px;
}

.infoTitle {
  font-size: 24px;
  font-weight: 800;
}

.messageText {
  width: 300px;
}

.priceText {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 1px solid #bfc4b5;
  padding: 10px 0;
  margin-bottom: 34px;
  font-family: Avenir8, sans-serif;
}
