

/* Features  */

.gifIcon{
  margin-bottom: 10px;
}

.gif{
  width: 700px;
  height: auto;
}

.featureBg{
  background-image: url(https://res.cloudinary.com/dm3wjnhkv/image/upload/v1725832072/assets/bg-top-bottom_q8qvxg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F3ECDA;
}

.halfbg{
  background-image: url(https://res.cloudinary.com/dm3wjnhkv/image/upload/v1725832072/assets/bg-top-bottom_q8qvxg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #F3ECDA;
  height: 950px !important;
  margin-bottom: -70px;
}

@media screen and (max-width:1200px) and (min-width:899px) {
  
  .gifIcon{
    width: 90px;
    height: auto;
  }

  .gif{
    width: 550px ;
  }

  .halfbg{
    height: 900px !important;
    margin-bottom: -80px;
  }
}

@media screen and (max-width:899px) {
  
  .gifIcon{
    width: 90px;
    height: auto;
  }

  .gif{
    width: 550px;
  }

  .buttonBox{
    position: absolute;
    bottom: -20px;
  }

  .featureBg, .halfbg{
    background-image: none;
    color: #3E4F3C;
  }

  .halfbg{
    height: auto !important;
    margin-bottom: 100px !important;
    padding-bottom: 0px;
  }
}

@media screen and (max-width:600px) {
  
  .gifIcon{
    width: 83px;
  }
  
  .gif{
    width: 100%;
    min-height: 230px;
    height: auto;
  }

  .buttonBox{
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    padding-right: 20px;
  }
}