.loadImageMain {
  position: relative;
  margin: 70px 0;
}

.BgloadImage {
  width: 275px;
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadImage {
  position: absolute;
  top: 56px;
  left: 54px;
  width: 170px;
}

.nextIcon {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  cursor: pointer;
}

.previousIcon {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  cursor: pointer;
}
.titleIcon {
  width: 53px;
  height: 53px;
}

@media (max-width: 1400px) {
  .titleIcon {
    height: 60px;
    width: 60px;
  }

  .nextIcon {
    right: -70px;
    width: 50px;
    height: 50px;
  }

  .previousIcon {
    left: -80px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .BgloadImage {
    width: 280px;
  }

  .loadImage {
    top: 56px;
    left: 43px;
    width: 190px;
  }
}
