.CardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
}

.subContainer {
  background-image: url(../_assets/png/dashboard-bg.png);
  background-repeat: no-repeat;
  position: right;
  background-size: 100%;
}

@media (max-width:1200px) {
  .CardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}