@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Avenir";
  src: url("/fonts/AvenirLTStd-Black.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-BlackOblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Book.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-BookOblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Heavy.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-HeavyOblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Light.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-LightOblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Medium.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-MediumOblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Oblique.otf") format("opentype");
  src: url("/fonts/AvenirLTStd-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir5";
  src: url("/fonts/AvenirLTStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir8";
  src: url("/fonts/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

.MuiTypography-root {
  font-family: Avenir;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
/* .css-j0zfo1{
  overflow-x: hidden;
} */
/* .css-1v6dzk4{
  overflow-x: hidden !important ;
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ql-editor img {
  width: 400px !important;
  max-height: 400px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.rdw-image-imagewrapper img {
  float: left;
  height: auto !important;
  width: 400px !important;
}
.rdw-image-modal-upload-option-label {
  word-break: break-all !important;
}

/* GG */
/* .rdw-image-modal-upload-option-label {
  display: block !important;
  text-align: center !important;
  margin-top: 10px !important;
  color: black !important;
} */
.rdw-image-modal-upload-option-image-preview {
  display: block !important;
}
/* .rdw-image-modal-upload-option-label:after{
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 99;
  color: black;
  content: "Click Add";
} */

.icon-tabler-photo {
  display: none !important;
}

/* .rdw-image-wrapper .rdw-option-wrapper {
  background-image: url("https://res.cloudinary.com/dgbjpy7ev/image/upload/v1700233397/lifescript/imagepicker2a8a999ecfcb97d4416a18ce867faeddb0939d92ab9dbfca6223e2a319ece853_hoimxc.svg") !important;
  background-size: contain !important;
  border: none;
  background-repeat: no-repeat !important;
  height: 30px;
  width: 115px;
} */
.rdw-image-wrapper .rdw-option-wrapper {
  background-image: url("https://lifescript-media.s3.eu-north-1.amazonaws.com/Add+Image+Button.svg") !important;
  background-size: contain !important;
  border: none;
  background-repeat: no-repeat !important;
  height: 30px;
  width: 115px;
}

.rdw-history-wrapper {
  margin-left: -4px;
}

.rdw-image-wrapper img {
  display: none;
}

/* .mantine-1uphpef {
  height: 60px;
}
.mantine-UnstyledButton-root {
  height: 40px !important;
  width: 40px !important;
} */

/* .ql-image:hover {
  background-color: transparent !important;
} */

.css-1wqgwi1-MuiLinearProgress-bar1 {
  border-radius: 30px;
  background: linear-gradient(90deg, #197065 0%, #1f9a8b 100%);
}

.css-od7rqf-MuiLinearProgress-root::before {
  opacity: 0;
}

.css-10d9dml-MuiTabs-indicator {
  display: none;
}
.css-lfwcke-MuiTabs-flexContainer {
  padding: 20px 10px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 15px;
}

.css-zc2y38-MuiCircularProgress-root {
  color: #197065 !important;
}

.css-2rbg70-MuiPaper-root-MuiDialog-paper {
  border-radius: 22px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

/* .react-pdf__Page__canvas {
  height: 600px !important;
} */

.pdfNumberInput::-webkit-outer-spin-button,
.pdfNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pdfNumberInput[type="number"] {
  -moz-appearance: textfield;
}

.rdw-image-modal-size-input {
  background-color: #fafafa;
  color: black;
}

.rdw-image-modal-btn:disabled,
.rdw-embedded-modal-btn:disabled,
.rdw-link-modal-btn:disabled {
  background: #e1693b !important;
  color: white !important;
  border-radius: 2px !important;
}

.rdw-image-modal-btn,
.rdw-embedded-modal-btn,
.rdw-link-modal-btn {
  background: transparent !important;
  color: #e1693b !important;
  border-radius: 2px !important;
  border: 1px solid #e1693b !important;
}

button {
  cursor: pointer;
}

/* h1, h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  display: inherit;
} */

/* h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif; 
} */

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

li {
  margin-bottom: 15px;
  font-family: Avenir;
}

/* WebFooter calander styling  */
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: #3e4f3c;
  border-radius: 2px;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: none !important;
  outline: none !important;
}

.css-10ebiw8,
.css-hppdow {
  background-color: #f3ecda !important;
}

.css-1xylxj1-MuiTypography-root-MuiLink-root {
  text-decoration: none !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  /* display: none !important; */
  color: #fff !important;
  margin-top: -8px;
  margin-left: -14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
