.display {
  display: block;
}

.nativeMainBg {
  background-image: url(../../_assets/png/native-response-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
}
.displayBg {
  width: 100vw;
}

@media screen and (max-width: 1199px) {
  .display {
    display: none;
  }

  .displayShow {
    display: block;
  }
}
