.bookImage {
  width: 300px;
  height: 164px;
}

@media (max-width: 1200px) {
  .bookImage {
    width: 260px;
    height: 160px;
  }
}

@media (max-width: 500px) {
  .bookImage {
    width: 140px;
    height: 120px;
  }
  .welcomeMain{
    background-image: url(../../_assets/svg/smallBgTree.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }
}
