.bookImage {
  width: 280px;
  height: 144px;
}

@media (max-width:1100px) {
  .bookImage {
    width: 280px;
    height: 200px;
  }
}

@media (max-width:500px) {
  .bookImage {
    width: 180px;
    height: 120px;
  }
}