/* Overview Profile  */

.profilePic {
  outline: 10px solid green;
  border-radius: 50%;
  padding: 10px;
  width: 155px;
  height: 155px;
}


/* Overview Welcome  */
.welcomeMain {
  background-image: url(../../_assets/png/template-tree-bg.png);
  background-repeat: no-repeat;
  background-position: left left;
  background-size: 40% 80%;
}

@media (min-width:1400px) and (max-width:1800px) {
  .welcomeImage {
    width: 260px;
    height: 200px;
  }
}

@media (min-width:1200px) and (max-width:1400px) {}

@media (min-width:992px) and (max-width:1200px) {}

@media (max-width:992px) {}