/* Overview Profile  */

.profilePic {
  outline: 10px solid green;
  border-radius: 50%;
  padding: 10px;
  width: 155px;
  height: 155px;
}

.SelBookCoverHeaderMain{
  background-image: url(../../_assets/svg/smallBgTree.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}


/* Overview Welcome  */
.welcomeMain {
  background-image: url(../../_assets/png/template-tree-bg.png);
  background-repeat: no-repeat;
  background-position: left left;
  background-size: 40% 80%;
}

.welcomeImage {
  position: relative;
  width: 287px;
  height: 187px;
  z-index: 1;
}

.bgRounded {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Overview Time Tracker Section  */
.trackerbg {
  background-image: url(../../_assets//png//time-tracker-bg.png);
  background-repeat: no-repeat;
  background-position: left left;
}

/* OverView SubComponents  */

.viewBook {
  background-image: url(../../_assets/png/view-book.png);
  background-repeat: no-repeat;
  background-position: left;
}

.viewTree {
  background-image: url(../../_assets/png/view-tree.png);
  background-repeat: no-repeat;
  background-position: left;
}

.SelBookCoverHeaderBook{
  height: 145px;
  width: 202px
}

@media (min-width:1400px) and (max-width:1800px) {
  .welcomeImage {
    width: 260px;
    height: 200px;  
  }
}

@media (min-width:1200px) and (max-width:1400px) {
  .SelBookCoverHeaderBook{
    width: 180px
  }

  .profilePic {
    width: 140px;
    height: 140px;
  }

  .bgRounded {
    width: 280px;
  }
}

@media(max-width:1400px) {
  /* OverView SubComponents  */

  .viewBook {
    background-size: 30% 90%;
    background-position: left bottom;
  }

  .viewTree {
    background-size: 30% 90%;
    background-position: left bottom;
  }

  .nextAero {
    width: 20px;
  }

  /* Overview Welcome  */

  .welcomeImage {
    width: 260px;
    height: 200px;
  }

  .profilePic {
    outline: 8px solid green;
    padding: 7px;
    width: 120px;
    height: 120px;
  }

  .bgRounded {
    width: 250px;
  }
}


@media (max-width: 1100px) {
  .SelBookCoverHeaderBook {
    width: 180px;
    height: 145px;
  }
}

@media (max-width: 500px) {
  .SelBookCoverHeaderBook {
    width: 140px;
    height: 120px;
  }
}