/* Overview Profile  */

.profilePic {
  outline: 8px solid #197065;
  border-radius: 50%;
  padding: 8px;
  width: 109px;
  height: 109px;
}

.profileAchivements {
  width: 56px;
  height: 56px;
}

.SelBookCoverHeaderMain {
  background-image: url(../../_assets/svg/smallBgTree.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

/* Overview Welcome  */
.welcomeMain {
  background-image: url(../../_assets/png/template-tree-bg.png);
  background-repeat: no-repeat;
  background-position: left left;
  background-size: 40% 80%;
}

.welcomeImage {
  position: relative;
  width: 287px;
  height: 187px;
  z-index: 1;
}

.bgRounded {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  /* height: 230px; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Overview Time Tracker Section  */
.trackerbg {
  background-image: url(../../_assets//png/bg-hunt.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.ClockImage {
  width: 292.262px;
  height: 209.87px;
}

/* OverView SubComponents  */

.viewBook {
  background-image: url(../../_assets/png/view-book.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.viewTree {
  background-image: url(../../_assets/png/view-tree.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.SelBookCoverHeaderBook {
  height: 145px;
  width: 202px;
}

.nextAero {
  width: 13px;
  height: 19.603px;
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .welcomeImage {
    width: 287px;
    height: 187px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .SelBookCoverHeaderBook {
    width: 180px;
  }

  .profilePic {
    width: 100px;
    height: 100px;
  }

  .bgRounded {
    width: 260px;
  }
}

@media (max-width: 1400px) {
  /* OverView SubComponents  */

  .viewBook {
    background-size: 30% 90%;
    background-position: left bottom;
  }

  .viewTree {
    background-size: 30% 90%;
    background-position: left bottom;
  }

  /* Overview Welcome  */

  .welcomeImage {
    width: 260px;
    height: 160px;
  }

  .profilePic {
    padding: 7px;
    width: 80px;
    height: 80px;
  }

  .bgRounded {
    width: 220px;
  }
}

@media (max-width: 1100px) {
  .SelBookCoverHeaderBook {
    width: 180px;
    height: 145px;
  }
  .ClockImage {
    width: 200.262px;
    height: 175.87px;
  }
}

@media (max-width: 500px) {
  .SelBookCoverHeaderBook {
    width: 140px;
    height: 120px;
  }
  .bgRounded {
    width: 180px;
  }
}
