.logo {
  width: 54px;
}

.typo {
  font-size: 12px;
}

@media (max-width: 1400px) {
  .stepContainer {
    padding: 20px 0;
  }
  .typo {
    bottom: 10px;
  }
}

@media (min-width: 1400px) {
  .typo {
    bottom: -5px;
  }
}

@media (max-width: 900px) {
  .typo {
    font-size: 11px;
  }

  .stepContainer {
    padding: 10px 0;
  }

  .logo {
    width: 45px;
  }
}

@media (max-width: 500px) {
  .typo {
    font-size: 10px;
  }

  .stepContainer {
    padding: 0;
  }

  .logo {
    width: 40px;
  }
}

/* styles for ChooseTemplate.tsx  */
.bgTree {
  background-image: url(../../_assets/png/template-tree-bg.png);
  background-repeat: no-repeat;
  /* background-size: 80% 100%; */
}

/* styling for Details Card   */

.CardBg {
  background-image: url(../../_assets/svg/GreenTick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContent {
  height: 72%;
}

/* styles for TemplateCard.tsx  */
.tick {
  width: 13px;
  height: 11px;
}
