.logo {
  width: 54px;
}

.typo {
  font-size: 12px;
}

@media (max-width: 1400px) {
  .stepContainer {
    padding: 20px 0;
  }
  .typo {
    bottom: 10px;
  }
}

@media (min-width: 1400px) {
  .typo {
    bottom: -5px;
  }

}

@media (max-width: 900px) {
  .typo {
    font-size: 11px;
  }

  .stepContainer {
    padding: 10px 0;
  }

  .logo {
    width: 45px;
  }
}

@media (max-width: 500px) {
  .typo {
    font-size: 10px;
  }

  .stepContainer {
    padding: 0;
  }

  .logo {
    width: 40px;
  }
}

.CardBg {
  background-image: url(../../_assets/svg/GreenTick.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardContent {
  height: 72%;
}

/* styles for TemplateCard.tsx  */
.tick {
  width: 13px;
  height: 11px;
}

@media (max-width: 1550px) and (min-Width:1400px) {

  .questionWidth{
    width: 300px !important;
  }
}

@media (max-width: 1400px)  {

  .questionWidth{
    width: 240px !important;
  }
}
