@media (max-width:1400px) {
  .typo {
    font-size: 16px;
  }

  .stepContainer {
    padding: 20px 0;
  }

  .logo {
    width: 70px;
  }
}

@media (max-width:992px) {
  .typo {
    font-size: 14px;
  }

  .stepContainer {
    padding: 10px 0;
  }

  .logo {
    width: 50px;
  }
}

@media (max-width:500px) {
  .typo {
    font-size: 10px;
  }

  .stepContainer {
    padding: 0;
  }

  .logo {
    width: 40px;
  }
}

/* styling for Details Card   */

@media (max-width:1400px) {
  .header {
    padding: 20px 0 20px 15px !important;
  }
}