.link {
  display: flex;
  align-items: center;
  font-size: 15px;
  column-gap: 8px;
  padding: 8px 8px 8px 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.active {
  background-color: #fff;
  color: #197065;
}

.subLinks {
  margin-top: 8px;
}

.subLink {
  display: block;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}

.subLink:hover {
  background-color: #333;
}

@media (max-width: 900px) {
  .link {
    font-size: 13px;
    column-gap: 5px;
  }

  .sidebarIcon {
    width: 16px;
  }
}
