.book {
  width: 500px;
  height: 690px;
  margin-left: -140px;
}

.boldText {
  font-size: 53px;
}

.greenBlock {
  position: absolute;
  top: 15px;
  left: 22px;
  width: 128px;
  height: 120px;
}

.whiteBlock {
  position: absolute;
  bottom: 15px;
  right: 22px;
  width: 128px;
  height: 120px;
}

/*   LetsStarted Code here  */
.topDots {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomDots {
  position: absolute;
  bottom: 0;
  left: 0;
}

.aero {
  position: absolute;
  right: 80px;
  bottom: 50px;
}

.house{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 550px;
  height: auto;
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .greenBlock {
    width: 100px;
    height: 95px;
  }

  .whiteBlock {
    width: 100px;
    height: 95px;
  }

}

@media (min-width: 900px) and (max-width: 1400px) {
  .primaryText {
    font-size: 35px;
  }

  .boldText {
    font-size: 45px;
  }

  .book {
    width: 320px;
    height: 450px;
    margin-left: -100px;
  }

  .greenBlock {
    top: 10px;
    left: 15px;
    width: 70px;
    height: 70px;
  }

  .whiteBlock {
    bottom: 10px;
    right: 15px;
    width: 70px;
    height: 70px;
  }

}

@media (max-width: 900px) {
  .primaryText {
    font-size: 25px;
  }

  .boldText {
    font-size: 35px;
  }

  .book {
    width: 240px;
    height: 350px;
    margin-left: -80px;
  }

  .greenBlock {
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  }

  .whiteBlock {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

}

@media (max-width: 600px) {
  .primaryText {
    font-size: 20px;
  }

  .boldText {
    font-size: 30px;
  }

  .book {
    display: none;
  }

  .greenBlock {
    display: none;
  }

  .whiteBlock {
    display: none;
  }
  /*   LetsStarted Code here  */

  .topDots, .bottomDots {
    width: 100px;
  }
  
  .aero {
    width: 80px;
    right: 20px;
    bottom: 30px;
  }
  
  .house{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 550px;
    height: auto;
  }

}
