.faqPage {
  background-image: url(../../../__webAssets/pngs/bg-blog.png);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  object-fit: cover;
}

.qsPoints {
  position: absolute;
  top: 15px;
  left: 0;
  height: 95%;
}

.hurtBg {
  background-image: url(../../../__webAssets/pngs/bg-gift-tag.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 899px)  {
  .faqPage {
    background-size: 100% 150px;
  }

.qsPoints{
  display: none;
}
}


@media screen and (max-width: 600px)  {
  .faqPage {
    background-size: 100% 120px;
  }

  .hurtBg {
    background-size: 220px 115px;
  }
}


