/* Introduction */
.bookImg {
  position: absolute;
  bottom: -250px;
  right: 0;
  z-index: 10;
  width: 870px;
  height: 380px;
}

.image1 {
  position: absolute;
  right: 320px;
  top: 150px;
  width: 260px;
  height: 290px;
  animation: image1 4s -2s forwards, slideIn 1s ease-in-out infinite alternate;
}

.image2 {
  position: absolute;
  right: 190px;
  top: 80px;
  width: 225px;
  height: 245px;
  animation: image2 4s -2s forwards, slideIn 1s ease-in-out infinite alternate;
}

.image3 {
  position: absolute;
  right: 0;
  top: 75px;
  width: 275px;
  height: 330px;
  animation: image3 4s -2s forwards, slideIn 1s ease-in-out infinite alternate;
}

.image4 {
  position: absolute;
  right: 130px;
  top: 260px;
  z-index: 2;
  width: 322px;
  height: 290px;
  animation: image4 4s -2s forwards, slideIn 1s ease-in-out infinite alternate;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes image1 {
  0% {
    right: 100px;
    top: 1000px;
  }
  25% {
    right: 150px;
    top: 700px;
  }
  75% {
    right: 240px;
    top: 300px;
  }
  100% {
    right: 320px;
    top: 150px;
  }
}

@keyframes image2 {
  0% {
    right: 190px;
    top: 800px;
  }
  25% {
    right: 190px;
    top: 500px;
  }
  75% {
    right: 190px;
    top: 300px;
  }
  100% {
    right: 190px;
    top: 80px;
  }
}

@keyframes image3 {
  0% {
    right: 200px;
    top: 800px;
  }
  25% {
    right: 120px;
    top: 500px;
  }
  75% {
    right: 50px;
    top: 300px;
  }
  100% {
    right: 0px;
    top: 75px;
  }
}

@keyframes image4 {
  0% {
    top: 1200px;
  }
  25% {
    top: 800px;
  }
  75% {
    top: 500px;
  }
  100% {
    top: 260px;
  }
}

/* Suggestion Component */

.fullStyle {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 910px;
}

.suggestionImg{
  width: 550px;
  height: 680px;
}

/* StoryTelling  */
.stroyImages {
  width: 475px;
  height: 300px;
  position: relative;
  z-index: 100;
}

.index{
  z-index: 10 !important;
}

.storyBg{
  position: absolute;
  top:247px;
  width: 100vw;
  z-index: 10;
}

.marked{
  position: relative;
}

.line{
  position: absolute;
  width:150px;
  right: -40px;
  bottom: -5px;
}

/* GifTab  */

.gifTabBox {
  background-image: url(../../../__webAssets/pngs/gifi-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bgHurt {
  position: absolute;
  right: 150px;
  bottom: 10px;
}

.bandage{
  display: none;
}

/* Textimonial  */
.clientImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

/* Our Books  */
.slider {
  width: calc(100vw + 120px);
  z-index: 5;
}

.bookBox {
  background-image: url(../../../__webAssets/pngs/bg-books.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.book {
  width: 420px;
  height: 580px;
}

.rightAero, 
.leftAero{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.rightAero {
  right: 40px;
}

.leftAero {
  left: 40px;
}

@media screen and (min-width: 1600px) {
  .rightAero, 
.leftAero{
  width: 60px;
  height: 60px;
}

  .book {
    width: 550px;
    height: 800px;
  }

  .storyBg{
    width: initial;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

  /* Suggestion  */
.suggestionImg{
  width: 480px;
  height: 590px;
}
}

@media screen and (min-width: 899px) and (max-width: 1200px) {
/* Introduction sec*/
.bookImg {
  bottom: -180px;
  width: 550px;
  height: 240px;
}

.image1 {
  right: 210px;
  top: initial;
  bottom: 70px;
  width: 170px;
  height: 200px;
}

.image2 {
  right: 110px;
  top: initial;
  bottom: 120px;
  width: 150px;
  height: 170px;
}

.image3 {
  top: initial;   
  bottom: 70px;
  width: 170px;
  height: 200px;
}

.image4 {
  right: 100px;
  bottom: -10px;
  top: initial;
 width: 200px;
  height: 180px;
}

@keyframes image1 {
  0% {
    right: 100px;
    bottom: -600px;
  }

  100% {
    right: 210px;
    bottom: 70px;
  }
}

@keyframes image2 {
  0% {
    bottom: -600px;
  }
  100% {
    bottom: 120px;
  }

}

@keyframes image3 {
  0% {
    bottom: -600px;
  }
  100% {
    bottom: 70px;
  }
}

@keyframes image4 {
  0% {
    bottom: -600px;
  }
  100% {
  bottom: -10px;
  }
}

  /* Suggestion  */
  .suggestionImg{
    width: 400px;
    height: 500px;
  }

  .fullStyle {
    max-width: 880px;
  }

  /* GifTab  */

.gifTabBox {
  background-size: 100% 200px;
}

.bgHurt {
  height: 120px;
  width:200px;
  right: 120px;
}

/* StoryTelling  */
.stroyImages {
  width: 400px;
  height: 260px;
}

.storyBg{
display: none;
}

/* Books  */
.book {
  width: 310px;
  height: 450px;
}

.rightAero, 
.leftAero{
  width: 40px;
  height: 40px;
}

}

@media screen and (max-width: 899px) {
/* Introduction sec*/
  .bookImg, 
  .image1 , 
  .image2, 
  .image3, 
  .image4, 
  .pointsLine {
    display: none;
  }

  /* Suggestion  */
  .suggestionImg{
    width: 400px;
    height: 500px;
  }

.fullStyle {
  bottom: -60px;
  max-width: 95%;
}

  /* GifTab  */

  .gifTabBox {
    background-size: 100% 150px;
  }

  .bgHurt {
    height: 80px;
    width:160px;
    right: 120px;
    bottom: 26px;
  }

  /* storyTelling  */
  .storyBg{
  display: none;
  }

  .line{
    width: 100px;
    right: -20px;
  }
  
  /* Books  */
  .book {
    width: 240px;
    height: 340px;
  }

.rightAero, 
.leftAero{
  width: 40px;
  height: 40px;
}


}


@media screen and (max-width: 600px) {

  .braker{
    display: none;
  }
    /* Suggestion  */
    .suggestionImg{
      width: 100%;
      height: 100%;
    }
  
  .fullStyle {
    bottom: -30px;
    max-width: 100%;
    height: 30px;
    padding: 0 7%;
  }

  /* GifTab  */

  .gifTabBox {
    background-image: none;
    background-color: #fff;
  }

  .bgHurt {
    height: 110px;
    width:215px;
    right: 0;
    bottom: 0;
  }

  .bandage{
    display: block;
    position: absolute;
    top: -55px;
    left: -60px;
    transform: rotate(95deg);
  }

  /* StoryTelling  */
  .stroyImages {
    width: 100%;
    height: auto;
  }

  .line{
    width: 60px;
    right: -10px;
  }

/* Books  */
  .slider {
    width: 200px;
  }

  .book {
    width: 200px;
    height: 270px;
  }

  .rightAero, 
.leftAero{
  width: 28px;
  height: 28px;
}

  .rightAero {
    right: 30px;
  }
  
  .leftAero {
    left: 30px;
  }

/* Textimonial  */
  .clientImg {
    width: 70px;
    height: 70px;
  }

  }