

/* Features  */

.gifIcon{
  margin-bottom: 10px;
}

.gif{
  max-width: 700px;
  max-height: 445px;
}

@media screen and (max-width:1200px)and (min-width:899px) {
  
  .gifIcon{
    width: 90px;
    height: auto;
  }
  .gif{
    width: 550px;
    height: 360px;
  }
}

@media screen and (max-width:899px) {
  
  .gifIcon{
    width: 90px;
    height: auto;
  }

  .gif{
    width: 550px;
    height: 360px;
  }

  .buttonBox{
    position: absolute;
    bottom: -20px;
  }
}

@media screen and (max-width:600px) {
  
  .gifIcon{
    width: 83px;
  }
  
  .gif{
    min-width: 354px;
    width: 100%;
    min-height: 270px;
    height: auto;
  }

  .buttonBox{
    position: absolute;
    bottom: -60px;
    width: 100%;
    text-align: center;
  }
}